@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
/* .app{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, rgb(247, 242, 243) ,#fff);

} */
.content{
    display: none;
    width: 100%;
    border-radius: 18px;
    overflow: hidden;
    position: relative;
}
.song{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 80px;
    overflow: hidden;
}
/* btnt top */
.btn_top{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
}
.btn_top ion-icon{
    width: 20px;
    height: 20px;
    font-size: 1.4rem;
    padding: 10px;
    margin: 0 20px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0px 5px 5px #d3d3d3,
                inset 0px 3px 5px #d3d3d3;
                cursor: pointer;
}
.btn_top ion-icon:hover{
    background: #ec1f55;
    color: #fff;
    box-shadow: none;
}
.btn_list-active{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    font-size: 1.6rem;
    padding: 10px;
    margin: 0 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0px 5px 5px #d3d3d3,
                inset 0px 3px 5px #d3d3d3;
                cursor: pointer;
}
.btn_list-active:hover{
    background-color: #ec1f55;
    color: #fff;
    box-shadow: none;
}
.btn_list-active::before{
    content: '\f105';
    font-family: FontAwesome;
    font-style: normal;

}

/* name */
.song_name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    padding-top: 20px;
}
.song_name h2{
    font-size: 1.4rem;
    letter-spacing: 1px;
    color: #ec1f55;
    padding-bottom: 10px;
}
.song_name span{
    font-size: 1rem;
    letter-spacing: 2px;
    color: #999;
}

.cd_thump-after{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.control{
    /* margin: 20px 0; */
    width: 300px;
    height: 72px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    /* box-shadow: 0px 5px 5px #ddd,
                inset 0px 3px 5px #ddd; */
}
/* ======currentTime======== */
#currentTime{
    position: absolute;
    top: 66.1%;
    display: flex;
    justify-content: space-between;
    width: 70%;
}
#currentTime span{
    font-weight: 500;
    font-size: 0.8rem;
}
/* range */
.range{
    margin: 40px 0 40px 0;
    width: 50%;
}
.range input{
    width: 100%;
}
.range .thanhkeo{
    -webkit-appearance: none;
    position: relative;
    height: 6px;
    border-radius: 4px;
    background:linear-gradient(to right,#ffe, pink);
    width: 100%;
    

}
input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #ec1f55;
    /* box-shadow: 0.1px 8px 8px 2px rgba(0,0,0,0.2) inset,
                0.1px 8px 8px 2px rgba(0,0,0,0.2); */
}
/* =============volume============ */
/* .volumne-after{
    position: absolute;
    top: 48%;
    right: -24px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transform: rotate(90deg);
    width: 140px;
}
.icon-volume{
    margin-left: 4px;
    transform: rotate(-90deg);
    cursor: pointer;
    order: 2;
    font-size: 1rem;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #111;
    box-shadow: 0px 5px 5px #d3d3d3,
                inset 0px 3px 5px #d3d3d3;
}
.icon-volume:hover{
    color: #ec1f55;
}
.volumne-after .thanhkeo{
    cursor: pointer;
    opacity: 0;
    order: 1;
    width: 0%;
    transition: 0.3s;
    background:linear-gradient(to right, pink,#ffe);
}
.volumne-after .thanhkeo.active{
    opacity: 1;
    width: 60%;
} */
/* ani song */
.ani-song{
    position: absolute;
    top: 56%;
    left: 30px;
    width: 32px;
    height: 32px;
    opacity: 0;
    transition: 0.4s linear;
}
.ani-song img{
    width: 100%;
    background-color: transparent;
    /* background-color: #ec1f55; */
}

/* control btn */
.control{
    margin: 0;
}
.control span{
    margin: 0 10px;
    font-size: 1.4rem;
    line-height: 2rem;
    /* padding: 0 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #999;
    cursor: pointer;
}
.control span:hover{
    color: #ec1f55;
    
}

span.playpause{
    color: white;
    font-size: 2rem;
    background-color: #ec1f55;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
span.playpause ion-icon.activeof{
    display: none;
}
span.playpause:hover{
    color: #fff;
}
span.prev{
    font-size: 1rem;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    box-shadow: 0px 5px 5px #d3d3d3,
                inset 0px 3px 5px #d3d3d3;
}
span.next{
    font-size: 1rem;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    box-shadow: 0px 5px 5px #d3d3d3,
                inset 0px 3px 5px #d3d3d3;
}
span.restar{
    font-size: 0.8rem;
    line-height: 0.8rem;
    padding: 0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    box-shadow: 0px 5px 5px #d3d3d3,
                inset 0px 3px 5px #d3d3d3;
}
span.random{
    font-size: 0.8rem;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    box-shadow: 0px 5px 5px #d3d3d3,
                inset 0px 3px 5px #d3d3d3;
}
span.random.active,
span.restar.active{
    background-color: #ec1f55;
    color: #fff;
    box-shadow: none;
}
/* list song */
.song__img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.lists_song{
    background:linear-gradient(rgb(243, 222, 226) ,#fff);
    ;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    right: -100%;
    transition: 0.4s linear;
}
.lists_song.active{
    right: 0rem;
}

.list_song-son{
    position: absolute;
    top: 10%;
    width: 100%;
    height: 85%;
    overflow-y: auto;
}
.list_song-son::-webkit-scrollbar{
    width: 0.4rem;
    background-color:#d3d3d3;
    border-radius: 0.5rem;
}
.list_song-son::-webkit-scrollbar-thumb{
    background-color:#ec1f55;
    border-radius: 0.5rem;
}
.first_song{
    margin: 20px 40px;
    border: 1px solid #f9f9f9;
    padding: 10px;
    background:white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.list-song_card.active6 {
    background-color: #ec1f55;
}
.first_song.active6 .song_name-list,
.first_song.active6 .song_option{
    color: #fff;
}

.first_song:first-child{
    margin-top: 10px;
}
.song_name-list{
    flex: 1;
    padding-left: 10px;
}
.song_name-list h4{
    font-size: 1rem;
}
.song_name-list span{
    font-size: 0.8rem;
}
.song_option{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn_close-list{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
}
.btn_close-list ion-icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
}
.btn_close-list ion-icon:hover{
    background: #ec1f55;
    color: #fff;
}
.cd{
    position: relative;
}


/* btn top active */
.btn_top-active{
    position: absolute;
    top: 0;
    width: 60%;
    text-align: center;
    padding: 13px 0;
    display: flex;
    justify-content: center;
    animation: anibtnactive linear 0.2s;
}
@keyframes anibtnactive {
    from{
        top: -40px;
        opacity: 0;
    }
    to{
        top: 0;
        opacity: 1;
    }
}
.btn_top-active.active{
    display: none;
}
.btn_top-active div{
    padding: 0;
}
.stop_volumn ion-icon{
    width: 15px;
    height: 15px; 
    padding: 13px;
     margin: 0 10px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0px 5px 5px #d1d1d1,
                inset 0px 3px 5px #d1d1d1;
                cursor: pointer;
}
.stop_volumn ion-icon.active5{
    display: none;
}




/* =============LYRIC============ */
.lyrics{
    background: linear-gradient(rgb(243, 222, 226) ,#fff);
    color: #170f23;
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    transition: 0.4s linear;
}
.lyric::-webkit-scrollbar{
    width: 0.4rem;
    background-color:#d3d3d3;
    border-radius: 0.5rem;
}
.lyric::-webkit-scrollbar-thumb{
    background-color:#ec1f55;
    border-radius: 0.5rem;
}
.lyrics.active9{
    left: 0;
}
.lyric{
    overflow-y: auto;
    position: absolute;
    top: 10%;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
}
.lyric-first{
    padding: 0 40px;
    display: none;
}
.lyric-first.active7{
    display: block;
}
.lyric-first span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
    line-height: 2.2rem;
}
.lyrics .btn_close-lyric{
    position: absolute;
    top: 1rem;
    left: 1rem;
}
.btn_close-lyric{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
}
.btn_close-lyric ion-icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: white;
    color: #000;
    cursor: pointer;
}
.btn_close-lyric ion-icon:hover{
    background: #ec1f55;
    color: #fff;
}
/*  */
ion-icon,
.btn_list-active,
.control span,
.volumne .icon-volume,
.volumne .thanhkeo{
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}





/* ====================== */
body{
    padding:0px 22px;
    overflow: hidden;
    background:#f1f1f1;
    position: relative;
    
}

/* theme1 */
body.theme1{
    background-image: url(image/Screen-Shot-2021-09-10-at-3.21.05-PM.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #32323d;
}
body.theme1 ion-icon{
    /* color: #323232; */
}
body.theme1 h1{
    color: #ec1f55;
}
body.theme1 input::placeholder{
    color: #fff;
}
body.theme1 span{
    color: #fff;
}
body.theme1 .app .bottom-bars{
    background: #f9c6c5;
}
body.theme1 .app .navigation,
body.theme1 .app .container .page-kind .kind-country{
    background: rgba(255,255,255,0.2);
}
body.theme1 .app .navigation .navi-tools .navi-item-list .navi-item:hover ion-icon,
body.theme1 .app .navigation .navi-tools .navi-item-list .navi-item:hover span{
    color: #ec1f55;
}
body.theme1 .app .navigation .navi-tools .navi-item-list .active.navi-item::before{
    background: #ec1f55;
}
body.theme1 .app .navigation .navi-tools .navi-item-list .active.navi-item ion-icon{
    color: #ec1f55;
}
body.theme1 .app .container .page-home .body-music .popular .list-popular .popular-card:hover,
body.theme1 .app .container .page-list .page-list_song .list-song_card:hover,
body.theme1 .app .container .page-new .page-new-cards .page-new-card:hover,
body.theme1 .app .container .page-list .page-list_song .list-song_card.active6,
body.theme1 .app .container .page-kind .kind-country .kind-country-data .kind-country-list-song .country-song-cards .country-song-card:hover{
    background: rgba(240, 113, 208, 0.4);
    box-shadow: 4px 4px 4px rgba(255,255,255,0.2);
    display: flex;
}

/* theme2 */

body::before,
body::after{
}
body.theme2{
    background-image: url("https://zmp3-static.zadn.vn/skins/zmp3-v6.1/images/theme-background/zma.svg");
    /* background-position: center; */
    /* background-repeat: no-repeat;
    background-size: cover; */
    color: #fff;
}
body.theme2 .app .chu-de .chude-content{
    background: #572f90;
}
body.theme2 .app .chu-de,
body.theme2 .app .chu-de h2{    
    color: #fff;
}
body.theme2 ion-icon{
    /* color: #323232; */
}

body.theme2 h1{
    color:#fff;
}
body.theme2 input::placeholder{
    color: #fff;
}
body.theme2 span{
    color: #fff;
}
body.theme2 .app .bottom-bars{
    background-image: url(https://zmp3-static.zadn.vn/skins/zmp3-v6.1/images/theme-player/zma.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
}
body.theme2 .app .bottom-bars span{
    color: #fff;
    border-color:#fff ;
}
body.theme2 .app .navigation,
body.theme2 .app .container .page-kind .kind-country{
    background: #572f90;
}
body.theme2 .app .navigation .navi-tools .navi-item-list .navi-item:hover ion-icon,
body.theme2 .app .navigation .navi-tools .navi-item-list .navi-item:hover span{
    color: #ec1f55;
}
body.theme2 .app .navigation .navi-tools .navi-item-list .active.navi-item::before{
    background: #ec1f55;
}
body.theme2 .app .navigation .navi-tools .navi-item-list .active.navi-item ion-icon{
    color: #ec1f55;
}
body.theme2 .app .container .page-home .body-music .popular .list-popular .popular-card:hover,
body.theme2 .app .container .page-list .page-list_song .list-song_card:hover,
body.theme2 .app .container .page-new .page-new-cards .page-new-card:hover,
body.theme2 .app .container .page-list .page-list_song .list-song_card.active6,
body.theme2 .app .container .page-list .page-list_song .list-song_card .list-song-card-img .icon-active-lopphu.active6,
body.theme2 .app .container .page-kind .kind-country .kind-country-data .kind-country-list-song .country-song-cards .country-song-card:hover{
    background: rgba(75, 32, 110, 0.4);
    box-shadow: 4px 4px 4px rgba(255,255,255,0.2);
}

/* theme3 */

body::before,
body::after{
}
body.theme3{
    background: #1e1e1e;
    color: #fff;
}
body.theme3 .app .chu-de .chude-content{
    background: #282828;
}
body.theme3 .app .chu-de,
body.theme3 .app .chu-de h2{    
    color: #fff;
}
body.theme3 ion-icon{
    /* color: #323232; */
}

body.theme3 h1{
    color:#fff;
}
body.theme3 input::placeholder{
    color: #fff;
}
body.theme3 span{
    /* color: #fff; */
}
body.theme3 .app .bottom-bars{
    background: #181818;
    color: #fff;
}
body.theme3 .app .bottom-bars span{
    color: #fff;
    border-color:#fff ;
}
body.theme3 .app .navigation,
body.theme1 .app .container .page-kind .kind-country{
    background: #292929;
}
body.theme3 .app .navigation .navi-tools .navi-item-list .navi-item:hover ion-icon,
body.theme3 .app .navigation .navi-tools .navi-item-list .navi-item:hover span{
    color: #572f90;
}
body.theme3 .app .navigation .navi-tools .navi-item-list .active.navi-item::before{
    background: #572f90;
}
body.theme3 .app .navigation .navi-tools .navi-item-list .active.navi-item ion-icon{
    color: #572f90;
}
body.theme3 .app .container .page-home .body-music .popular .list-popular .popular-card:hover,
body.theme3 .app .container .page-list .page-list_song .list-song_card:hover,
body.theme3 .app .container .page-new .page-new-cards .page-new-card:hover,
body.theme3 .app .container .page-list .page-list_song .list-song_card.active6,
body.theme3 .app .container .page-kind .kind-country .kind-country-data .kind-country-list-song .country-song-cards .country-song-card:hover{
    background: rgba(74, 74, 74, 0.4);
    box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
}
body.theme3 .app .container .page-list .page-list_song .list-song_card .list-song-card-img .icon-active-lopphu.active6{
    display: flex;

}
h3{
    font-family: 'Poppins';
    font-size: 1rem;
}
.app{
    display: flex;
    height: 100vh;
    overflow-x: hidden;
}
/* navigation */
.navigation{
    min-width: 16%;
    border-radius: 0.5rem;
    height: 74%;
    background-color: #fff;
    padding: 22px 22px;
    position: relative;
    margin-top: 28px;
    font-family: 'Poppins';
    z-index: 1;
}
.navi-logo-header h2{
    font-size: 1rem;
    text-align: center;
    margin-top: 10px;
}
.navi-tools{

}
.navi-tools h2{
    font-family: 'Poppins';
    font-size: 1rem;
    margin: 1.6rem 0;
}
.navigation ul{
    list-style: none;
}

.navigation .navi-item{
    cursor: pointer;
    margin: 1.2rem 0;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.navi-item span{
    margin-left: 0.8rem;
    font-weight:bold;
}
.navi-item:hover ion-icon,
.navi-item:hover span{
    color: #3b67f3;
}
.active.navi-item::before{
    content: '';
    position: absolute;
    top: 0;
    left: -22px;
    top: 50%;
    transform: translateY(-50%);
    width: 4px;
    height: 12px;
    border-radius: 0.8rem;
    background-color: #3b67f3;
}
.active.navi-item ion-icon{
    color: #3b67f3;
}
.logo{
    position: absolute;
    top: -1.4rem;
    left: 50%;
    transform: translateX(-50%);
}
.logo img{
    width: 50px;
    height: 50%;
    border-radius: 50%;
    
}
/* content  */
.container{
    margin-top: 26px;
    padding:0 0px 0 22px;
    overflow: hidden;
    width: 100%;
    position: relative;
}
.navbar{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    width: 100%;
}
.navbar .top-music-header-right ion-icon{
    color: rgba(74, 74, 74, 0.6);
}
.search{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    position: relative;
    padding: 0px 22px;
    background-color: rgba(255,255,255,0.08);
    border-radius: 30px;
    min-width: 256px;
    margin-left: 1rem;
}
.search ion-icon{
    color: #8b9dfb;
    font-size: 1rem;
}
.search input{
    padding: 10px 0;
    width: 226px;
    margin-left: 0.8rem;
    font-size: 0.8rem;
    letter-spacing: 1px;
    color: #fff;
    border: none;
    outline: none;
    background: transparent;
}
.search input::placeholder{
    color: #bbbabd;
}
.search-box{
    position: absolute;
    top:calc(100% + 10px);
    border-radius: 0.5rem;
    padding: 10px;
    left:0;
    min-width: 300px;
    background-color: #fff;
    z-index: 10;
    display: none;
}
.search-box-list{
    color: #181818;
    flex-direction: column;
    max-height: 300px;
    overflow-y: auto;
    display: flex;
}
.search-list-song{
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 10px;
    cursor: pointer;
    display: none;
}
.search-list-song ion-icon{
    margin-right: 10px;
}
.search-list-song:hover{
    color: #7200A1;
}
#search-close{
    display: none;
    text-align: right;
    line-height: 0;
    font-size: 1.4rem;
}
/* setting */
.setting{
    position: relative;
    text-align: right;
    flex: 1;
}
.setting ion-icon{
    margin-left: 0.4rem;
    font-size: 1rem;
    cursor: pointer;
    background-color: rgba(255,255,255,0.08);
    border-radius: 50%;
    padding: 10px;
}
.setting ion-icon:hover{
    background-color: rgba(255,255,255,0.2);
}
/* setting box */
.setting-box{
    position: absolute;
    top: 120%;
    right: 3rem;
    min-width: 220px;
    border-radius: 0.5rem;
    background-color: #3b67f3;
    z-index: 10;
}
.setting-box.active{
    display: none;
}
.setting-box ul{
    padding: 22px 0;
}
.setting-box ul li{
    padding: 12px 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.setting-box ul li ion-icon{
    font-size: 1.2rem;
}
.setting-box ul li:hover{
    background-color: rgba(0,0,0,0.2);
}
/* bars-setting */
.bars-setting{
    display: none;
}
/* notice box */
.notice-box{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 120%;
    right: 2px;
    width: 220px;
    border-radius: 0.5rem;
    background-color:#45d5a5 ;
    padding: 60px 22px;
    z-index: 10;
}
.notice-box.active{
    display: none;
}
.notice-box span{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}
.notice-box span ion-icon{
    font-size: 1.2rem;
}

/* top music */
.top-music{
    padding: 0.8rem 0 0.8rem 0;
    position: relative;
}
.top-music-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-music-header h2{
    font-size: 1.2rem;
    font-family: 'Poppins';
}
.top-music-header .top-music-header-right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-music-header-right ion-icon{
    margin-left: 0.8rem;
    font-size: 1.2rem;
    cursor: pointer;
}
.top-list-music{
    padding: 1rem 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 30%;
    grid-gap: 22px;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    position: relative;
}
.top-list-music::-webkit-scrollbar{
    display: none;
}
.music-card{
    z-index: 1;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    font-family: Inter,sans-serif;
    overflow: hidden;
}
.music-card img{
    height: 220px;
    width: auto;
    border-radius: 5px;
    transition: transform 0.2s;
}
.music-card img:hover{
    transform: scale(1.06);
}
.icon-banner{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0rem;
    right: 0rem;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 100%; */
}

.icon-banner div{
    width: 40px;
    height: 40px;
    background-color: rgba(0,0,0,0.2);
    border-radius: 50%;
    display: none;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
    cursor: pointer;
}
.icon-banner div:hover{
    background-color: rgba(255,255,255,0.2);
}
.icon-banner_prev{
    font-size: 1.4rem;
}
.icon-banner_next{
    font-size: 1.4rem;
}
.top-music:hover .icon-banner div{
    display: flex;
}
.song-name{
    padding: 1rem 0;
    font-size: 15px;
    font-weight: 600;
    padding: 1.2rem 0 0.4rem 0;
}
.song-outher{
    font-size: 13px;
    color: #bbbabd;
    letter-spacing: 1px;
}
/* body music */
.body-music{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-gap: 22px;
    margin-top: 1.6rem;
    overflow: hidden;
    height: 250px;

}
/* popular */
.popular{
    max-width: 440px;
    overflow: hidden;
}
.popular-header{
    display: flex;
    justify-content: space-between;
}
.popular h3{
    font-family: 'Poppins';
    font-size: 1rem;
}
.list-popular{
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 216px;
}
.list-popular::-webkit-scrollbar{
    width: 0.4rem;
    display: none;
    background-color: #f1f1f1;
    border-radius: 0.5rem;
}
.list-popular::-webkit-scrollbar-thumb{
    background-color: #d3d3d3;
    border-radius: 0.5rem;
}
.popular:hover .list-popular::-webkit-scrollbar{
    display: block;
}
.popular-card{
    margin: 0.4rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem 1.2rem;
    border-radius: 0.5rem;
    width: 86%;
    cursor: pointer;
}
.popular-card:hover{
    background-color: #fff;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
}
.popular-left{
    display: flex;
    justify-content: center;
    align-items: center;
}
.popular-left ion-icon{
    font-size: 1.2rem;
}
.popular-left img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 12px;
    border: 1px solid #fff;
}
.popular-right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.popular-right ion-icon{
    margin-left: 1rem;
}
.popular-song-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    font-family: Inter,sans-serif;
}
.popular-song-name{
    font-size: 0.92rem;
    line-height: 1.4rem;
    font-weight: 600;
}
.popular-song-outher{
    font-size: 0.8rem;
    color: #999;
}

/* new song */
.new-song{
    overflow: hidden;
}
.new-song-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.new-header-song-right ion-icon{
    font-size: 1.2rem;
    margin-left: 1rem;
    cursor: pointer;
}

.list-new-song{
    padding: 0.8rem 0.2rem;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 33%;
    grid-gap: 22px;
    scroll-behavior: smooth;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}
.list-new-song::-webkit-scrollbar{
    display: none;
}
.new-song-card{
    display: flex;
    flex-direction: column;
    font-family: Inter,sans-serif;
}
.new-song-card img{
    height: 140px;
    width: auto;
    border-radius: 5px;
    transition: transform 0.2s;
}
.new-song-card:hover img{
    transform: scale(1.06);
}
.list-new-song .new-song-name{
    padding: 0.8rem 0 0 0;
    font-size: 14px;
    font-weight: 700;
}
.list-new-song .new-song-outher{
    font-size: 12px;
    color: #999;
    padding-top: 0.2rem;
}

/* bottom bars */
.bottom-bars{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 72px;
    background:#cfe3e2;
    box-shadow: 0px -2px 4px rgba(0,0,0,0.2);
    padding: 0px 22px; 
    z-index: 4;
    
}
.bottom-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bottom-bars .lyric{
    display: none;
}
.btn-bottom-bars{
    display: none;
}
.bottom-bars img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.bottom-bars .popular-song-data{
    min-width: 150px;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-left: 10px;
}
.bottom-bars .popular-song-data .popular-song-name{
    display: flex;
    flex-wrap: nowrap;
}
.bottom-bars .control{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-bars .control .playpause{
    background-color: transparent;
    border: 2px solid rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 1.6rem;
    color: rgba(0,0,0,0.8);
}
.bottom-bars .control .prev{
    border: none;
    color: rgba(0,0,0,0.8);
    box-shadow: none;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom-bars .control .next{
    border: none;
    color: rgba(0,0,0,0.8);
    box-shadow: none;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom-bars .range{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 400px;
}
.bottom-bars .restar,
.bottom-bars .random,
.bottom-bars .lyric-song{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: rgba(0,0,0,0.8);
    box-shadow: none;
    font-size: 1.4rem;
}
.bottom-bars .lyric-song{
    margin: 0 8px;
}
.bottom-bars .volumne{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.bottom-bars .volumne .icon-volume{
    cursor: pointer;
    font-size: 1.4rem;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #111;
}
.bottom-bars .icon-volume:hover{
    color: #ec1f55;
}
.bottom-content .volumne .thanhkeo-pc{
    cursor: pointer;
    width: 100px;
    background:linear-gradient(to right, pink,#ffe);
    transform: rotate(180deg);
    box-shadow: none;
}
.bottom-content .volumne input:hover{
    background-color: yellow;
}

/* page list */
.list_banner-cards{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 30%;
    grid-gap: 22px;
    margin-top: 1.6rem;
}
.banner-card{
    height: 176px;
    border-radius: 0.2rem;
    overflow: hidden;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.banner-card-lopphu{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.4);
    display: none;
    justify-content: center;
    align-items: center;
}
.banner-card:hover .banner-card-lopphu{
    display: flex;
}
.banner-card-lopphu ion-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    width: 50px;
    height: 50px;
}
.banner-card img{
    width: 100%;

}
.page-list_song{
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-gap: 0px;
    margin-top: 1rem;
    padding: 1rem 0 2rem 0;
    overflow-y: auto;
    height: 290px;
    width: 100%;
}
.page-list_song::-webkit-scrollbar{
    width: 0.4rem;
    border-radius: 0.5rem;
    background-color: #282828;
}
.page-list_song::-webkit-scrollbar-thumb{
    background-color: #111;
    border-radius: 0.5rem;
}
.list-song_card{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    cursor: pointer;
    padding: 0.8rem 0;
    border-radius: 5px;
    margin-right: 1rem;
}
.list-song_card img{
    width: 44px;
    height: 44px;
    border-radius: 0.4rem;
}
.list-song-card-img{
    position: relative;
    width: 44px;
    height: 44px;
    border-radius: 0.4rem;
    margin:0 1rem;
}
.icon-active-lopphu{
    border-radius: 0.4rem;
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}
.img-icon-active{
    width: 20px;
    height: 20px;
}
.list-song-card-lopphu{
    border-radius: 0.4rem;
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}
.list-song-card-lopphu ion-icon{
    width: 20px;
    height: 20px;
    color: #fff;
}
.list-song_card:hover{
    background-color: #fff;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.4);
}
.list-song_card:hover .list-song-card-img .list-song-card-lopphu{
    display: flex;
}
/* page kind */
.page-kind{
    position: relative;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    height: 100%;
}
.page-kind.active{
    display: none;
}
.page-kind .top-music-header{
    margin: 1rem 0;
}
.page-kind-cards{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 30%;
    grid-gap: 22px;
    overflow-x: auto;
    width: 100%;
}
.page-kind-cards::-webkit-scrollbar{
    display: none;
}
.page-kind-card{
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 188px;
    cursor: pointer;
}
.page-kind-card img{
    border-radius: 5px;
    width: auto;
    height: 188px;
    transition: transform 0.2s;
}
.page-kind-card:hover img{
    transform: scale(1.06);
}
.vietnam::after{
    content: 'Nhạc Việt';
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.6rem;
    width: 100%;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-family: Inter,sans-serif;
    letter-spacing: 1px;
}
.americal::after{
    content: 'Nhạc Âu Mĩ';
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.6rem;
    width: 100%;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-family: Inter,sans-serif;
    letter-spacing: 1px;
}
.korea::after{
    content: 'Nhạc hàn';
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.6rem;
    width: 100%;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-family: Inter,sans-serif;
    letter-spacing: 1px;
}
.sontung::after{
    content: 'Sơn Tùng MTP';
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.6rem;
    width: 100%;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-family: Inter,sans-serif;
    letter-spacing: 1px;
}
.blackpink::after{
    content: 'BlackPink';
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.6rem;
    width: 100%;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-family: Inter,sans-serif;
    letter-spacing: 1px;
}
.justin::after{
    content: 'Justin bieber';
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.6rem;
    width: 100%;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-family: Inter,sans-serif;
    letter-spacing: 1px;
}
.bts::after{
    content: 'BTS';
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.6rem;
    width: 100%;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-family: Inter,sans-serif;
    letter-spacing: 1px;
}
.page-kind-card::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background:linear-gradient(to bottom,transparent,#000);
    opacity: 0.4;
}

/* page new */
.page-new-header{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.page-new-header h1{
    font-size: 3rem;
    line-height: 3.2rem;
    font-weight: 900;
    font-family: 'Poppins';
    color: #3b67f3;
}
.page-new-header span{
    font-family: 'Poppins';
    font-size: 0.8rem;
}
.page-new-cards{
    height: 440px;
    overflow-y: auto;
}
.page-new-card{
    display: flex;
    justify-content: space-between;
    padding: 0.6rem 2rem 0.8rem 2rem;
    position: relative;
}
.page-new-card:hover{
    background-color: #fff;
    border-radius: 5px;

}
.page-new-card:hover .page-new-card-data .list-song-card-img .list-song-card-lopphu{
    display: flex;
}
.page-new-cards::-webkit-scrollbar{
    width: 0.4rem;
    display: none;
    background-color: #f1f1f1;
    border-radius: 0.5rem;
}
.page-new-cards::-webkit-scrollbar-thumb{
    background-color: #999;
    border-radius: 0.5rem;
}
.page-new:hover .page-new-cards::-webkit-scrollbar{
    display: flex;
}
.page-new-card:first-child{
    margin-top: 0;
}
.page-new-card::after{
    content: '';
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1px;
    background-color: #32323d;
}
.page-new-card-data{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
}
.page-new-card-data .number{
    font-size: 32px;
    font-family: 'Poppins';
    font-weight: 900;
    color: #bbb;
    width: 10px;
}
.page-new-card:nth-child(1) .page-new-card-data .number{
    color: #3b67f3;
}
.page-new-card:nth-child(2) .page-new-card-data .number{
    color: #45d5a5;
}
.page-new-card:nth-child(3) .page-new-card-data .number{
    color: #d24a46;
}


.page-new-card-data .dau-gach{
    margin: 0 2rem;
    font-size: 2rem;
}
.page-new-card-data .list-song-card-img img{
    margin-right:1rem;
    margin-left: -1rem;
    width: 50px;
    height: 50px;
    border-radius: 0.4rem;
}
.page-new-card-data .list-song-card-img .list-song-card-lopphu{
    width: 50px;
    height: 50px;
    margin-left: -1rem;
}
.new-time{
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-new-card-option{
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-new-card-option ion-icon{
    margin-left: 1rem;
    font-size: 1.2rem;
}
/* none */
.page-home{
    /* display: none; */
}
.page-list{
    display: none;
}
.page-new{
    display: none;
}
.page-kind{
    display: none;
}



/* CHỦ ĐỀ */
.chu-de{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    z-index: 10;
    display: none;
    justify-content: center;
    align-items: center;
    transition: 0.4s linear;
    opacity: 0;
}
.chu-de.active2{
    opacity: 1;
    display: flex;
}
.chude-content{
    width: 60%;
    height: 80%;
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 30px;
}
.chude-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 22px;
}
.chude-header h2{
    font-size: 24px;
    font-family: sans-serif;
    color: #32323d;
}
.chude-header ion-icon{
    font-size: 2rem;
    cursor: pointer;
}
.chude-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 22px;
}
.chude-card{
    
}
.chude-card img{
    width: 100%;
}
.chude-card span{
    font-size: 14px;
    line-height: 28px;
    color: #32323d;
}
.chude-bg{
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.new{
    position: absolute;
    top: 5% ;
    left: 4%;
    background-color: red;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    font-family: sans-serif;
    font-size: 14px;
}
.chude-card-lopphu{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.4);
}
.chude-card-lopphu span{
    padding: 0.4rem 1rem;
    border-radius: 5px;
    background: #ec1f55;
    font-size: 1rem;
    font-family: sans-serif;
    cursor: pointer;
}
.chude-bg:hover .chude-card-lopphu{
    display: flex;
}


/*  laylist */
.laylist{
    position:absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: calc(100vh - 72px);
    background: linear-gradient(to bottom ,#181818, #32323d);
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s linear;
}
.laylist-data{
    width: 40%;
    margin: 0 0 0px 44px;
}
.laylist-data img{
    width: 80%;
    border-radius: 0.5rem;
}
.laylist-data .popular-song-data{
    margin-top: 1rem;
    width: 100%;
}
.lyric{
    margin: 44px 44px 44px 0;
    width: 60%;
    overflow-y: auto;
    height: 80%;
}
.lyric::-webkit-scrollbar{
    width: 0.4rem;
    background-color:#d3d3d3;
    border-radius: 0.5rem;
}
.lyric::-webkit-scrollbar-thumb{
    background-color:#ec1f55;
    border-radius: 0.5rem;
}
.lyric-first{
    padding: 0 40px;
    display: none;
}
.lyric-first.active7{
    display: block;
}
.lyric-first span{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 3rem;
    line-height: 6.2rem;
}
.laylist-close{
    position: absolute;
    top: 2%;
    right: 1%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #555;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.laylist-close ion-icon{
    font-size: 1.8rem;
}


/*  */
.kind-country{
    position: absolute;
    top: 40px;
    left: 22px;
    right: 44px;
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
    z-index: 2;
    display: none;
    transition: 0.3s linear;
    flex-direction: column;
    padding:38px 0px 0 0px;
}
.kind-country .top-music-header-right{
    margin-bottom: 1rem;
}
.kind-country-music-prev{

}
#kind-country-music-next{
    color: #555;
}
.kind-country-data{
    display: flex;
    width: 100%;
    height: calc(100% - 144px);
}
.kind-country-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.kind-country-info img{
    border-radius: 0.5rem;
}
.kind-country-info h3{
    font-size: 22px;
    line-height: 30px;
    padding: 0.5rem 0;
    color: #fff;
    font-family: sans-serif;
    text-align: center;
}
.kind-country-info span{
    font-size: 14px;
    line-height: 20px;
    color: #ffffff80;
    font-family: sans-serif;
}
.kind-country-info button{
    cursor: pointer;
    padding: 9px 24px;
    font-size: 14px;
    font-family: sans-serif;
    border-radius: 20px;
    background-color: #7200A1;
    border: none;
    outline: none;
    color: #fff;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.kind-country-info button ion-icon{
    padding: 0 0.5rem;
}
/* KIND COUNTRY LIST SONG */
.kind-country-list-song{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 2rem 0 2rem;
    padding-right: 10px;
    overflow-y: auto;
}
.kind-country-list-song::-webkit-scrollbar{
    width: 0.4rem;
    border-radius: 0.5rem;
    background-color: #555;
}
.kind-country-list-song::-webkit-scrollbar-thumb{
    background-color: #292929;
    border-radius: 0.5rem;
}
.country-list-song-header{
    display: flex;
    flex-direction: column;
}
.country-list-song-header h4{
    font-size: 14px;
    font-family: sans-serif;
    color: #fff;
    font-weight: 500;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0 0 2rem 0;
}
.country-list-song-header h4 span{
    font-size: 14px;
    font-family: sans-serif;
    color: #ffffff80;
    padding-right: 6px;
}
.country-list-song-header_data{
    font-family: sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    color: #ffffff80;
    position: relative;
}
.country-list-song-header_data span{
    font-size: 14px;
}
.country-list-song-header_data::after{
    content: '';
    position: absolute;
    bottom: -0.6rem;
    width:100%;
    height: 1px;
    background-color: #292929;
}
.country-song-cards{
    margin-top: 0.6rem;
}
.country-song-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 16px 20px;
    position: relative;
    cursor: pointer;
}
.country-song-card::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #292929;
}

/* result search */
.result{
    position: absolute;
    top: 5%;
    right: 0;
    width: calc(100% - 22px);
    height: calc(94% - 72px);
    color: #fff;
    z-index: 9;
    font-family: sans-serif;
    display: none;
    flex-direction: column;
}
.result .top-music-header-right{
    margin-top: 0.5rem;
}
.result .top-music-header-right #result-next{
    color: #555;
}
.result h1{
    margin-top: 1rem;
    font-size: 24px;
    padding: 10px 22px;
    border-bottom: 1px solid #32323d;
}
.top-result-text{
    font-size: 20px;
    padding: 22px;
}
.result-text{
    font-style: italic;
}
.result .result-songs{
    padding:0 22px;
}
.result .result-songs .list-song_card{
    width: 50%;
}
.result .result-songs .list-song_card:hover{
    background-color: #292929;
}

/* MV - video */
.MV{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.9);
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 10;
}
.MV-content{
    width: 70%;
    height: 70%;
    background-color:#000;
    border-radius: 0.5rem;
    overflow: hidden;
}
.MV-content video{
    width: 100%;
    height: 100%;
}
.btn-close-MV{
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-close-MV ion-icon{
    color: #fff;
    font-size: 1.6rem;
}