.skill{
    padding: 100px 0 50px;
    position: relative;
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .wrapper{
        margin-top: 62px;
        .my-skill{
            display: grid;
            grid-template-columns: repeat(5,1fr);
            grid-gap: 40px;
            .skill-item{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                transition: all 0.2s linear;
                padding-bottom: 10px;
                &:hover{
                    box-shadow: 2px 2px 10px rgb(0 0 0 / 8%);
                }
                .skill-image{
                    .skill-image-link{
                        width: auto;
                        height: 140px;
                        object-fit: contain;
                    }
                }
                
                .skill-name{
                    font-weight: 600;
                    font-size: 18px;
                    transition: all 0.3s linear;
                }
                &:hover .skill-name{
                    letter-spacing: 1px;
                }
            }
        }
        .experience{
            margin-top: 92px;
            .experience-title{
                font-weight: 800;
                font-family: "Montserrat";
                color: var(--black-2);
                font-size: 26px;
            }
            .experience-wrapper{
                padding-top: 50px;
                .experience-item{
                    display: flex;
                    justify-content: flex-start;
                    .experience-Work{
                        width: 100%;
                        max-width: 300px;
                        .work-name{
                            font-weight: 700;
                            font-family: "Montserrat";
                            color: var(--black-2);
                            font-size: 20px;
                            margin-bottom: 20px;
                        }
                        .work-time{
                            padding: 8px;
                            background-color: var(--black-2);
                            color: var(--white);
                            
                        }
                    }
                    .experience-company{
                        position: relative;
                        padding-left: 40px;
                        padding-bottom: 20px;
                        &::before{
                            content: '';
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 2px;
                            height: 100%;
                            background-color: var(--black-2);
                        }
                        &::after{
                            content: '';
                            position: absolute;
                            left: -6.5px;
                            top: 0;
                            width: 15px;
                            height: 15px;
                            border-radius: 50%;
                            background-color: var(--black-2);
                        }
                        .company-name{
                            font-weight: 600;
                            font-family: "Montserrat";
                            color: var(--black-2);
                            font-size: 20px;
                            margin-bottom: 20px;
                        }
                        .company-content{
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                        }
                    }
                }
            }
        }
    }
}


// reposive
$res_600 : "only screen and (max-width: 600px)";
$res_768 : "only screen and (max-width: 768px)";
$res_1400 : "only screen and (max-width: 1400px)";


@mixin responsive_600() {
    @media #{$res_600} {
        @content;
    }
}
@mixin responsive_768() {
    @media #{$res_768} {
        @content;
    }
}

@mixin responsive_1400() {
    @media #{$res_1400} {
        @content;
    }
}


@include responsive_1400{
    .skill{
        .wrapper{
            .my-skill{
                .skill-item{
                    .skill-image{
                        .skill-image-link{
                            height: 120px;
                        }
                    }
                    .skill-image{
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

 
@include responsive_768{
    .skill{
        .wrapper{
            .my-skill{
                grid-template-columns: repeat(3,1fr);
            }
        }
    }
    
}

@include responsive_600{
    .skill{
        .wrapper{
            .my-skill{
                grid-template-columns: repeat(2,1fr);
            }
            .experience{
                .experience-wrapper{
                    .experience-item{
                        flex-direction: column;
                        .experience-Work{
                            margin-bottom: 20px;
                        }
                        .experience-company{
                            padding-left: 0;
                            &::before, &::after{
                                width: 0;
                                height: 0;
                            }
                        }
                    }
                }
            }
        }
    }
    
}
